.images{
background-image: url('https://www.stephenconroy.com/images/sc-granolabowls-j4s9a9.jpg');
width: 122%;
background-repeat: no-repeat;
height: 80vh;

}
.conversation{
    text-align: center;
    margin-top: 3%;
    color: #007aff;
}
.contact_text_color{
    color: #007aff;
}
.second-section{
    margin-top: 5%;
}
.text_area_action{
    margin-bottom: 5%;
}
.basic-location-map{
    margin-top: 5%;
}
.contact_input_section_action_bottom{
    margin-top: 5%;
}
.width-area-w-100{
    // width: 500px  !important;
    // height: 200px;
}
.for_btn_style{
background: linear-gradient(-45deg, #1391a5, #274685);
width: 155px;
height:50px;
margin-left: 40%;
}
.contact_p{
    color: #9fa1a4;
}
